/* Nael Louis */
html {
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: azure;
}

button {
    background-color: lavender;
}

footer {
    position: ;
    text-transform: uppercase;
    text-align: left;
}